@page
@model Sexangle.Web.Pages.FuckYouModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FuckYou</title>
</head>
<body>
    FUCK YOU
</body>
</html>
